<div class="bg-light" style="border-top: 1px solid rgb(212, 212, 212);">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">Sobre a Livraria Geedem</h1>
        <p class="lead text-muted mb-0">
          A Livraria do GEEDEM (Grupo de Estudos Espírita Dr Eduardo Monteiro), tem como objetivo,
          ofertar a linha de estudos e também as novidades dos livros espíritas com valores aproximados
          ao de destribuição. O lucro da livraria é convertido em doação para o braço social
          ASIMD (Assistência Social Irmã Maria Dolores) que atua em bairros carentes na região de
          São Bernardo do Campo - SP.
        </p>
      </div>
      <div class="col-lg-6 d-none d-lg-block">
        <img src="assets/img/livraria-estantes.jpg" alt="PetShop Imge" class="img-fluid" style="border-radius: 50px" />
      </div>
    </div>
  </div>
</div>

<div class="row align-items-center">
  <div class="col-lg-8" style="padding: 50px 0 50px 50px;width: 700px;">
    <iframe width="540" height="360" style="border-radius: 50px" src="https://www.youtube.com/embed/ej3h6WxEKJs"
      title="YouTube video player" allow="accelerometer; autoplay; clipboard-write;
    encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="col-lg-4">
    <i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
    <h2 class="font-weight-light">Vibrando bem</h2>
    <p class="font-italic text-muted mb-4">
      A música é restauradora do padrão vibracional! Nós da GEEDEM temos diversos
      programas de apoio, ações sociais, grupos de estudo, gincanas e eventos beneficentes!
    </p>
    <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Saiba mais</a>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1">
        <i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light">Onde estamos?</h2>
        <p class="font-italic text-muted mb-4">
          GEEDEM: Rua Vera Cruz nº 386 - Jardim Hollywood - São Bernardo do Campo - S.P.
        </p>
        <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Rotas</a>
      </div>

      <div class="col-lg-6 order-2 order-lg-1">
        <div class="mapouter">
          <div class="gmap_canvas">
            <iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
              id="gmap_canvas" style="border-radius: 50px"
              src="https://maps.google.com/maps?width=500&amp;height=400&amp;hl=en&amp;q=Rua%20Vera%20Cruz%20n%C2%BA%20386%20-%20Jardim%20Hollywood%20-%20S%C3%A3o%20Bernardo%20do%20Campo%20-%20S.P.%20S%C3%A3o%20Bernardo%20do%20Campo+(Geedem)&amp;t=p&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
            <a href='http://maps-generator.com/pt'>Gerador de Mapas de Google</a>
            ><br />
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<footer class="bg-light pb-5">
  <div class="container text-center">
    <p class="font-italic text-muted mb-0">&copy; Livraria Geedem, 2021.</p>
  </div>
</footer>
