#imgPlaceholder{
  width: 200px;
  height: auto;
}

h5{
  padding: 0;
  margin: 0;
}

p{
  padding: 0;
  margin:0;
}

.itemLinha{
  margin-bottom: 15px;
  background-color: rgb(240, 246, 255);
  padding: 3px 0;
}
