<div class="container">
  <div class="row align-items-center">

    <div class="col-auto">
      <p class="display-1">Livros</p>
    </div>

    <div class="col-auto">
      <div class="col-auto">
        <button type="button" class="btn btn-success" routerLink="/livros-create">
          <i class="fas fa-plus"></i><span style="margin-left: 10px;">Novo Livro</span>
        </button>
      </div>
    </div>

  </div>

  <div class="form-inline">
    <div class="row">

      <div class="col col-sm-12 col-md-7 col-lg-4">
        <div class="form-group mb-2">
          <input type="text" class="form-control mr-2" placeholder="{{service.FilterType}}"
            [(ngModel)]="service.SearchFilter">
        </div>
      </div>

      <div class="col col-sm-8 col-md-2 col-lg-2">
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle btnWhite" type="button" id="dpdFiltro" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fas fa-filter"></i> {{service.FilterType}}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dpdFiltro">
            <li><a class="dropdown-item" (click)="service.FilterType = 'Titulo'">Titulo</a></li>
            <li><a class="dropdown-item" (click)="service.FilterType = 'Autor'">Autor</a></li>
            <li><a class="dropdown-item" (click)="service.FilterType = 'Fornecedor'">Fornecedor</a></li>
          </ul>
        </div>
      </div>

      <div class="col col-sm-4 col-md-3 col-lg-2">
        <div class="btn-group" style="width: 100%;">
          <button (click)="service.ReOrder()" id="btnOrdem" type="button" class="btn btn-light btnWhite">
            <i id="ordemIcon" class="fas fa-sort-alpha-down"></i>
            Ordenar
          </button>
          <button type="button" class="btn btn-light btnWhite dropdown-toggle dropdown-toggle-split" id="dpdOrdem"
            data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dpdOrdem">
            <li><a class="dropdown-item" (click)="service.setOrdem(true)">Alfabética</a></li>
            <li><a class="dropdown-item" (click)="service.setOrdem(false)">Crescente/Decrescente</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <table id="tabela" class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Imagem</th>
        <th>Titulo</th>
        <th>Valor</th>
        <th>Autor</th>
        <th>Fornecedor</th>
      </tr>
    </thead>

    <tbody *ngIf="service.livrosList && service.livrosList.length" class="table-light">

      <tr *ngFor="let livro of service.filteredLivros; index as i">
          <td>
            <button type="button" class="btn btn-outline-secondary btnAction" [routerLink]="['/livros-edit']"
              (click)="populateForm(livro)">
              <i class="fas fa-pen"></i>
            </button>
            <button type="button" class="btn btn-outline-primary btnAction" [routerLink]="['/livros-detail']"
            (click)="populateForm(livro)">
              <i class="fas fa-search"></i>
            </button>

            <button (click)="buildModal(livro)" data-bs-toggle="modal" data-bs-target="#deleteModal" type="button"
              class="btn btn-outline-danger btnAction">
              <i class="fas fa-trash-alt"></i>
            </button>
          </td>
          <td>img</td>
          <td>{{livro.titulo}}</td>
          <td>{{livro.valor}}</td>
          <td>{{service.getAutor(livro.id)?.nome}}</td>
          <td>{{service.getFornecedor(livro.id)?.nome}}</td>
      </tr>
    </tbody>

    <tfoot class="table-light">
      <tr *ngIf="!service.livrosList.length">
        <td colspan="8">
          <h6>Nenhum livro cadastrado.</h6>
        </td>
      </tr>
      <tr *ngIf="!service.filteredLivros.length">
        <td colspan="8">
          Nenhum livro com o <strong>{{service.FilterType}}</strong> informado.
        </td>
      </tr>
    </tfoot>
  </table>

  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tem certeza que deseja excluir o registro?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="modalBody" class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button (click)="deleteLiv()" id="confirmDelete" data-bs-dismiss="modal" type="button"
            class="btn btn-danger">Sim, Excluir</button>
        </div>
      </div>
    </div>
  </div>

</div>