<div class="container" style="margin-top: 20px">
  <div class="row justify-content-lg-center">
    <div class="col col-lg-1">
      <button (click)="resetForm(this.form)" id="voltar" class="btn btn-light" routerLink="/fornecedores-list"
        type="button">
        <i class="fas fa-arrow-left"></i>
      </button>
    </div>
    <div class="col col-lg-7 text-center">
      <p class="display-4 translate-middle-x">Editar Fornecedor</p>
    </div>
  </div>

  <div class="row justify-content-lg-center">
    <div class="col col-lg-8">
      <hr />
    </div>
  </div>

  <form class="was-validated" method="post" novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
    <div class="col col-lg-8">
      <!-- ID oculto -->
      <input type="hidden" name="id" [value]="service.formDataFornecedor.id" />
    </div>

    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-5">
        <div class="form-group">
          <label class="control-label">Nome</label>
          <!-- Caixa de texto NOME-->
          <input class="form-control" maxlength="40" placeholder="Nome" name="nome" id="txtNome" value="Nome"
            #nome="ngModel" [(ngModel)]="service.formDataFornecedor.nome" required
            [class.invalid]="nome.invalid && nome.touched" />
          <span class="text-danger invalid-feedback">Campo Nome obrigatório.</span>
        </div>
      </div>

      <div class="col-md-4 col-lg-3">
        <div class="form-group">
          <label class="control-label">Telefone</label>
          <!-- Caixa de texto Telefone-->
          <input type="tel" maxlength="15" pattern="\(\d{2}\)\s*\d{5}-\d{4}|\(\d{2}\)\s*\d{4}-\d{4}"
            class="form-control" placeholder="Telefone" name="telefone" id="txtTelefone"
            #telefone="ngModel" [(ngModel)]="tel" [class.invalid]="telefone.invalid && telefone.touched" />
        </div>
      </div>
    </div>

    <!-- <input type="tel" class="form-control" id="tel" name="tel" maxlength="15" pattern="\(\d{2}\)\s*\d{5}-\d{4}" required> -->
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-8 col-lg-5">
        <div class="form-group">
          <label class="control-label">E-mail</label>
          <!-- Caixa de texto E-mail-->
          <input type="email" maxlength="50" class="form-control" placeholder="Email" name="email" id="txtEmail"
            value="E-mail" #email="ngModel" [(ngModel)]="service.formDataFornecedor.email"
            [class.invalid]="email.invalid && email.touched" />
        </div>
      </div>
      <div class="d-none d-md-block col-md-4 col-lg-3"></div>
    </div>


    <div class="row justify-content-lg-center">
      <div class="col-12 col-md-8">
        <div class="form-group">
          <br />
          <button id="callModal" style="display: none" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#duplicateModal" type="button"></button>
          <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
            Salvar
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<duplicate-modal (confirm)="confirmUpdate()"></duplicate-modal>
