.card{
  height: 25vw;
  max-height: 350px;
  width: 16vw;
  margin: 20px auto 45px auto;
  background-color: rgba(20,20,20,.3);
  color: white;
  overflow: hidden;
}

img{
  width: 100%;
  height: 100%;
  transform: scale(1.0,1.0);
  transition: 300ms;
}
img:hover{
  cursor: pointer;
  transform: scale(1.1,1.1);
  transition: 300ms;
}


.body{
  position: absolute;
  width: 110%;
  transition: 300ms;
  left: 50%;
  bottom: 0;
  background-color: transparent;
  color: transparent;
  padding-bottom: 10px;
}
img:hover + .body{
  cursor: pointer;
  background-color: rgba(20, 20, 20, .5);
  color: white;
}
.body:hover{
  cursor: pointer;
  transition: 300ms;
  background-color: rgba(20, 20, 20, .5);
  color: white;
}
.body:hover img{
  cursor: pointer;
  transform: scale(1.1,1.1);
  transition: 300ms;
}
div:hover img{
  cursor: pointer;
  transform: scale(1.1,1.1);
  transition: 300ms;
}
p:hover img{
  cursor: pointer;
  transform: scale(1.1,1.1);
  transition: 300ms;
}
h5:hover img{
  cursor: pointer;
  transform: scale(1.1,1.1);
  transition: 300ms;
}


