<div class="container">
  <div class="row align-items-center">

    <div class="col-auto">
      <p class="display-1">Fornecedores</p>
    </div>

    <div class="col-auto">
      <button type="button" class="btn btn-success" routerLink="/fornecedores-create">
        <i class="fas fa-plus"></i><span style="margin-left: 10px;">Novo Fornecedor</span>
      </button>
    </div>

  </div>

  <div class="form-inline">
    <div class="row">

      <div class="col col-sm-12 col-md-7 col-lg-4">
        <div class="form-group mb-2">
          <input type="text" class="form-control mr-2" placeholder="Nome" [(ngModel)]="service.SearchFilter">
        </div>
      </div>

      <div class="col col-sm-4 col-md-3 col-lg-2">
        <div class="btn-group" style="width: 100%;">
          <button (click)="service.ReOrder()" id="btnOrdem" type="button" class="btn btn-light btnWhite">
            <i id="ordemIcon" class="fas fa-sort-alpha-down"></i>
            Ordenar
          </button>
          <button type="button" class="btn btn-light btnWhite dropdown-toggle dropdown-toggle-split" id="dpdOrdem"
            data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dpdOrdem">
            <li><a class="dropdown-item" (click)="service.setOrdem(true)">Alfabética</a></li>
            <li><a class="dropdown-item" (click)="service.setOrdem(false)">Crescente/Decrescente</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <table id="tabelaFornecedor" class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th class="col-2">
          <div class="row noGap align-items-center">
            <div class="col-auto noGap">
              <button id="btnSelecionarFornecedor" (click)="startSelection()" type="button"
                class="btn btn-light">Selecionar</button>
            </div>

            <div *ngIf="selecting" class="col-auto noGap">
              <div class="dropdown">
                <button id="selectionOptionsFornecedor" class="btn btn-dark" type="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <i class="fas fa-ellipsis-h fa-lg"></i>
                </button>
                <ul class="dropdown-menu slcOptions" aria-labelledby="selectionOptions">
                  <li><a (click)="selectAll()" class="dropdown-item">Selecionar tudo</a></li>
                  <li><a id="deleteSelectedFornecedor" (click)="modalDeleteMultiple(getSelectedIds())"
                      class="dropdown-item disabled">Excluir selecionados</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a (click)="cancelSelection()" class="dropdown-item">Cancelar seleção</a></li>
                </ul>
                <button id="callDeleteModal" style="display: none;" data-bs-toggle="modal"
                  data-bs-target="#deleteModal"></button>
              </div>

            </div>
          </div>
        </th>
        <th class="col-4">
          <p>Nome</p>
        </th>
        <th class="col-3">
          <p>Telefone</p>
        </th>
        <th class="col-3">
          <p>E-Mail</p>
        </th>
      </tr>
    </thead>

    <tbody *ngIf="service.fornecedoresList && service.fornecedoresList.length" class="table-light">

      <tr *ngFor="let fornecedor of service.filteredFornecedores; index as i;">
        <td>
          <button *ngIf="!selecting" type="button" class="btn btn-outline-secondary btnAction"
            [routerLink]="['/fornecedores-edit']" (click)="populateForm(fornecedor)">
            <i class="fas fa-pen"></i>
          </button>
          <button *ngIf="!selecting" type="button" class="btn btn-outline-primary btnAction"
            (click)="openDetails(fornecedor)" data-bs-toggle="modal" data-bs-target="#detailsModal">
            <i class="fas fa-search"></i>
          </button>
          <button *ngIf="!selecting" (click)="modalDeleteSingle(fornecedor)" data-bs-toggle="modal"
            data-bs-target="#deleteModal" type="button" class="btn btn-outline-danger btnAction">
            <i class="fas fa-trash-alt"></i>
          </button>

          <div *ngIf="selecting">
            <input (click)="setExcludeBtn()" class="form-check-input ckbSelect" type="checkbox"
              value="{{fornecedor.id}}" aria-label="...">
          </div>

        </td>
        <td>{{fornecedor.nome}}</td>
        <td>{{fornecedor.telefone}}</td>
        <td>{{fornecedor.email}}</td>
      </tr>
    </tbody>

    <tfoot class="table-light">
      <tr *ngIf="!service.fornecedoresList.length">
        <td colspan="8">
          <h6>Nenhum fornecedor cadastrado.</h6>
        </td>
      </tr>
      <tr *ngIf="!service.fornecedoresList.length">
        <td colspan="8">
          Nenhum Fornecedor com o <strong>nome</strong> informado.
        </td>
      </tr>
    </tfoot>
  </table>

  <delete-modal (delete)="confirmDelete($event)"></delete-modal>
  <!-- <details-modal></details-modal> -->

</div>