<!-- <div *ngFor="let livro of Livros">
  <p>ID: {{livro.id}}</p>
  <p>Titulo: {{livro.titulo}}</p>
  <p>Valor: {{livro.valor}}</p>
  <p>AutorID: {{livro.autorID}}</p>
  <p>FornecedorID: {{livro.fornecedorID}}</p>

</div> -->

<div class="form-inline">
  <div class="row">
    <div class="col col-lg-4">

      <div class="form-group mb-2">
        <input type="text" class="form-control mr-2" placeholder="Buscar" [(ngModel)]="SearchFilter">
      </div>

    </div>

    <div class="col col-lg-2">

      <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-filter"></i>: {{FilterType}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" (click)="FilterType = 'Titulo'">Titulo</a></li>
          <li><a class="dropdown-item" (click)="FilterType = 'Autor'">Autor</a></li>
          <li><a class="dropdown-item" (click)="FilterType = 'Fornecedor'">Fornecedor</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>

<table class="table table-striped table-hover">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Imagem</th>
      <th>ID</th>
      <th>Titulo</th>
      <th>Valor</th>
      <th>AutorID</th>
      <th>FornecedorID</th>
    </tr>
  </thead>

  <tbody *ngIf="Livros && Livros.length">
    <tr *ngFor="let livro of LivrosFiltrados; index as i">
      <td>{{i+1}}</td>
      <td>img</td>
      <td>{{livro.id}}</td>
      <td>{{livro.titulo}}</td>
      <td>{{livro.valor}}</td>
      <td>{{livro.autorID}}</td>
      <td>{{livro.fornecedorID}}</td>
    </tr>
  </tbody>

  <tfoot>
    <tr *ngIf="!Livros.length">
      <td colspan="8">
        <h6>Nenhum livro cadastrado.</h6>
      </td>
    </tr>
  </tfoot>
</table>
