<div class="container" style="margin-top: 20px;">

  <div class="row justify-content-lg-center">
    <div class="col col-lg-1">
      <button id="voltar" class="btn btn-light btnBlackHover" routerLink="/livros-list" type="button">
        <i class="fas fa-arrow-left"></i>
      </button>
    </div>
    <div class="col col-lg-7 text-center">
      <p class="display-4 translate-middle-x">Detalhes do Livro</p>
    </div>
  </div>


  <div class="row justify-content-lg-center">
    <div class="col col-lg-8">
      <hr />
    </div>
  </div>


  <div class="row justify-content-center">

    <div class="col-md-12 col-lg-8">
      <div class="row">

        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-auto">
              <h5>Título:</h5>
            </div>
            <div class="col-auto">
              {{service.formData.titulo}}
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-auto">
              <h5>Valor:</h5>
            </div>
            <div class="col-auto">
              {{service.formData.valor}}
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-auto">
              <h5>Autor:</h5>
            </div>
            <div class="col-auto">
              {{service.getAutor(service.formData.id)?.nome}}
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-auto">
              <h5>Fornecedor:</h5>
            </div>
            <div class="col-auto">
              {{service.getFornecedor(service.formData.id)?.nome}}
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-4">
              <button (click)="populateForm(service.formData)" type="button" class="btn btn-secondary btnBlackHover" [routerLink]="['/livros-edit']">
                <i class="fas fa-pen"></i> Editar
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>