<h1>Detalhes do Livro</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Livro.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Livro.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Livro.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Livro.Valor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Livro.Autor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Livro.Autor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Livro.Fornecedor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Livro.Fornecedor)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Aluno.ID">Editar</a> |
    <a routerLink="/livros-list">Voltar a lista</a>
</div>
