<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" routerLink="/livros-list">Livraria</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <div class="text-center navItemContainer" routerLink="/livros-list">
            <i class="fas fa-book-open fa-2x navIcon"></i>
            <a class="nav-link active" aria-current="page">Livros</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="text-center navItemContainer" routerLink="/autores-list">
            <i class="fas fa-user-tie fa-2x navIcon"></i>
            <a class="nav-link">Autores</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="text-center navItemContainer" routerLink="/fornecedores-list">
            <i class="fas fa-truck fa-2x navIcon"></i>
            <a class="nav-link">Fornec.</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="text-center navItemContainer" routerLink="/vendas-list">
            <i class="fas fa-money-bill-wave fa-2x navIcon"></i>
            <a class="nav-link">Vendas</a>
          </div>
        </li>
        <li class="nav-item">
          <div class="text-center navItemContainer" routerLink="/estoques-list">
            <i class="fas fa-boxes fa-2x navIcon"></i>
            <a class="nav-link">Estoque</a>
          </div>
        </li>

        <li class="nav-item">
          <div class="text-center navItemContainer" routerLink="/client-home">
            <i class="fas fa-home fa-2x navIcon"></i>
            <a class="nav-link">Home</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
