<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Tem certeza que deseja excluir o registro?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="modalBodyDelete" class="modal-body">



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button (click)="confirmDelete()" id="confirmDelete" data-bs-dismiss="modal" type="button"
          class="btn btn-danger">Sim, Excluir</button>
      </div>
    </div>
  </div>
</div>

